body {
    text-align: center;
    font-family: "Bradley Hand", cursive;
    font-size: 16px;
    color: rgb(33, 118, 215);
}

h1 {
    font-family: fantasy;
    font-size: 70px;
    margin: 40px;
    background-color: lightcyan;
    border: 10px solid peru;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

.container {
    margin: 10px auto;
    width: 90%;
    padding: 10px;
    background-color: bisque;
    box-shadow: 3px 3px 3px 0px #bbbccb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sizePicker {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#sizePicker label {
    margin: 5px 10px 5px 0;
    font-weight: 400;
}

#sizePicker input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    border: 1px solid rgb(243, 201, 134);
    font: inherit;
}

input[type="number"] {
    width: 6em;
}

#sizePicker button {
    padding: 10px 20px;
    background-color: rgb(75, 134, 236);
    border: 1px solid rgb(253, 199, 127);
    color: white;
    font: inherit;
    font-weight: 400;
}

#sizePicker button:hover {
    background-color: rgb(250, 190, 61);
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

@media (max-width: 800px) {
    #sizePicker input {
        margin: 10px 0;
    }
    #sizePicker {
        flex-direction: column;
        align-items: stretch;
    }
}